.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 1px;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0; /* Keeps it stuck at the top */
}
.logo {
  display: flex;
  margin: 10px;
}
h4 {
  margin-left: 10px;
  margin-top: 20px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}
a {
  color: black;
  padding: 1px;
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}

.column {
  display: flex;
  justify-content: space-between;
  border: black solid 1px;
  position: relative;
  top: 90px;

}

.column .large {
  display: flex;
  display: block;
  width: 630px;
  border: black solid 1px;
}

.column .medium {
  display: flex;
  display: block;
  width: 300px;
  border: black solid 1px;
}

.column .small {
  display: flex;
  display: block;
  width: 240px;
  border: black solid 1px;
}
.headline {
  border: black solid 1px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
}
.headline p {
  margin: 0;
  padding: 0;
}
.first {
  background-image: url(../images/img-story-main.png);
  height: 300px;
  font-size: 40px;
}
.second {
  background-image: url(../images/img-story-2.png);
  height: 300px;
}
.third {
  background-image: url(../images/img-story-3.png);
  height: 300px;
}
.forth {
  background-image: url(../images/img-story-1.png);
  height: 300px;
}
.story{
  display:block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

}
.mother {

}
.orca{

}
.burger{

}
.fbi {

}
